:host {
  display: block;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-flow: row wrap;
  background-color: sandybrown;
  justify-content: space-between;
  padding: 5px 5px 5px 5px;
}

.input-label {
  flex-direction: column;
}

.input-text-box {
  flex-direction: column;
}
